* {
    background-color: #6d4095;
    font-family: system-ui, sans-serif;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden-title {
    visibility: hidden;
}

.landing-page, h1, h3, h5 {
    border-radius: 15px;
    
}

.input {
    width: 400px;
    column-gap: 50px 50px;
    padding: 5px 50px;
}

body {
    color: bisque;
}

div, h1, h2, h3, h5 {
    background-color: #461c6a;
    padding: 15px 15px;
    border-color: 10px solid black;
    width: 500px;
}

.input {
    background-color: rgb(36, 6, 63);
}

button {
    color: bisque;
    width: 100px;
}

.hidden-start {
    visibility: hidden;
}

.visible-start {
    visibility: visible;
}

.visible-landing-page {
    visibility: visible;
}

.hidden-question-1, .hidden-question-2, .hidden-question-3 {
    visibility: hidden
}

.hidden-question-4, .hidden-question-5, .hidden-question-6 {
    visibility: hidden
}

.hidden-question-7, .hidden-question-8, .hidden-question-9 {
    visibility: hidden;
}

.hidden-question-10, .hidden-question-11, .hidden-question-12 {
    visibility: hidden;
}

.blue {
    background-color: blue;
}
