* {
    background-color: rgb(36, 6, 63);
    font-family: sans-serif;
}

body {
    display: flex;
    color: bisque;
    justify-content: center;
    flex-direction: column;
}

button {
    color: bisque;
    width: 100px;
}

.hidden-landing-page {
    visibility: hidden;
}

.visible-landing-page {
    visibility: visible;
}

.hidden-question-1 {
    visibility: hidden
}

.blue {
    background-color: blue;
}